<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:description="@string/module_description"
        android:directBootAware="true"
        android:extractNativeLibs="false"
        android:hasCode="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BatterySettingsActivity"
            android:exported="false"
            android:label="iOS &#x98CE;&#x683C;&#x7535;&#x6C60;&#x56FE;&#x6807;" />

        <activity
            android:name=".SignalNetworkSettingsActivity"
            android:exported="false"
            android:label="iOS &#x4FE1;&#x53F7;&#x683C;&#x4E0E; 5G &#x6807;&#x8BC6;" />

        <activity
            android:name=".WifiSettingsActivity"
            android:exported="false"
            android:label="Wi-Fi &#x56FE;&#x6807;" />

        <activity
            android:name=".OtherIconSettingsActivity"
            android:exported="false"
            android:label="&#x5176;&#x4ED6;&#x56FE;&#x6807;" />

        <provider
            android:name=".SettingsProvider"
            android:authorities="com.fiyme.statusbarsizer.settings"
            android:directBootAware="true"
            android:exported="true" />
    </application>
</manifest>
