<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:description="@string/module_description"
        android:directBootAware="true"
        android:extractNativeLibs="false"
        android:hasCode="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignalDebugActivity"
            android:exported="false"
            android:label="&#x4FE1;&#x53F7;&#x683C;&#x8C03;&#x8BD5;" />

        <activity
            android:name=".WifiDebugActivity"
            android:exported="false"
            android:label="Wi-Fi &#x8C03;&#x8BD5;" />

        <provider
            android:name=".SettingsProvider"
            android:authorities="com.fiyme.statusbarsizer.settings"
            android:directBootAware="true"
            android:exported="true" />
    </application>
</manifest>
